
.panel{
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px 0 ;

	.panel-heading{
		font-size: 20px;
		line-height: 2;
		height: 40px;
		padding: 0 15px;
		background-color: #ededed;
		
		
		label{
			cursor: pointer;
		}
		label:hover{
			text-decoration: underline;
		}

	}
	
	input[type='radio']{
		display: none;
	}

	input[type='radio']:checked + .panel-body{
		display: block;

	}
	.panel-body{
		padding: 15px;
		display: none;
	}

}